<div class="cssDisplayFlex cssMain">
  <!-- Longitude -->
  <div class="p-col-5 p-pl-0">
    <span class="p-float-label">
      <input [(ngModel)]="inputLng" id="float-input-lat" type="text" pinputtext=""
             class="cssHeight35Px widthWebkitFill p-inputtext p-component p-element ng-valid ng-touched ng-dirty p-filled">
      <label for="float-input-lat">Longitude</label>
    </span>
  </div>
  <!-- Longitude -->

  <!-- Latitude -->
  <div class="p-col-5 p-pr-0">
    <span class="p-float-label">
      <input [(ngModel)]="inputLat" id="float-input-lng" type="text" pinputtext=""
             class="cssHeight35Px widthWebkitFill p-inputtext p-component p-element ng-valid ng-touched ng-dirty p-filled">
      <label for="float-input-lng">Latitude</label>
    </span>
  </div>
  <!-- Latitude -->

  <!-- Go Button -->
  <div class="p-col-2 p-pr-0">
    <p-button (click)="mapUtil.goAnywhereOnMap(map, inputLng, inputLat)" label="Go"
              styleClass="widthWebkitFill p-ml-2 p-button-sm p-button-info"></p-button>
  </div>
  <!-- Go Button -->
</div>
