.main {
  padding: 30px 20px 10px 20px;
  background-color: #efefef6b;
  border-bottom: 1px solid #d1d1d1;
}

.width-webkit-fill {
  width: -webkit-fill-available;
}

.height-35 {
  height: 35px;
}

input:focus {
  outline: none !important;
}

.absolute-button {
  position: absolute;
  top: 125px;
  right: 15px;
}
