.reorderInfo {
  font-size: 13px;
  color: #0f72cd;
}

.reorderInfo .pi {
  font-size: 10px;
}

.column-width {
  width: 3rem;
}

.col-pad {
  padding: 0.5rem 0.5rem !important;
}

.img-div {
  width: 20px;
}

.table-button-plan {
  height: 24px !important;
  width: 24px !important;
}

.table-button-plan .pi {
  font-size: 13px;
}
