<div *ngIf="routePlan.listRoute.length === 0; else elseBlock" style="padding: 20px; border-bottom: 1px solid #d1d1d1;">
  <!-- Steps -->
  <div class="p-mt-4">
    <p-steps [model]="steps" [(activeIndex)]="stepIndex"></p-steps>
  </div>
  <!-- Steps -->

  <!-- Selected Step Header -->
  <div class="p-mt-3 cssTextAlignCenter cssDisplayGrid">
    <p-message *ngIf="disableButtonNextStep(); else elseBlockMessage" severity="info" [text]="getStepHeader()"></p-message>
    <ng-template #elseBlockMessage>
      <p-message severity="success" [text]="getStepSuccessMessage()"></p-message>
    </ng-template>
    <p-message styleClass="p-mt-2" *ngIf="getStepInfoMessage() !== ''" severity="info" [text]="getStepInfoMessage()"></p-message>
  </div>
  <!-- Selected Step Header -->

  <!-- Get Live Location Automatically -->
  <div *ngIf="stepIndex === 0" class="p-mt-3 cssTextAlignCenter">
    <p-button [style]="{height: '33px'}" (click)="getLiveLocation()" label="Get Live Location" icon="pi pi-map-marker" styleClass="p-button-sm p-button-danger"></p-button>
  </div>
  <!-- Get Live Location Automatically -->

  <ng-container [ngSwitch]="stepIndex">
    <!-- [START] Step 1 : Select Start Point -->
    <ng-container *ngSwitchCase="0">
      <app-step-select-start-point [map]="map" [startMarkerEntity]="startMarkerEntity" (refreshStartMarker)="refreshStartMarker($event)"></app-step-select-start-point>
    </ng-container>
    <!-- [END] Step 1 : Select Start Point -->

    <!-- [START] Step 2 : Marker Selection -->
    <ng-container *ngSwitchCase="1">
      <ng-container *ngIf="listMarkerEntity.length > 0; else elseBlockMarkerList">
        <!-- Marker List -->
        <div class="p-col p-pr-0 p-pl-0">
          <p-table [scrollable]="true" scrollHeight="200px" (onRowSelect)="onRowSelectMarker()" [value]="listMarkerEntity" selectionMode="single" [(selection)]="selectedMarkerEntity" dataKey="id" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                Marker List
                <div>
                  <button (click)="deleteSelectedMarker()" [disabled]="listMarkerEntity.length === 0 || !selectedMarkerEntity" pButton icon="pi pi-minus-circle" class="cssTableButton p-button-danger" pTooltip="Delete" tooltipPosition="top"></button>
                  <button (click)="deleteAllMarkers()" [disabled]="listMarkerEntity.length === 0" pButton icon="pi pi-trash" class="cssTableButton p-button-danger p-button-outlined p-ml-2" pTooltip="Delete All" tooltipPosition="top"></button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-markerEntity>
              <tr [pSelectableRow]="markerEntity">
                <td>{{markerEntity.marker.getLngLat().lat}}</td>
                <td>{{markerEntity.marker.getLngLat().lng}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              Total Markers : {{listMarkerEntity.length}}
            </ng-template>
          </p-table>
        </div>
        <!-- Marker List -->
      </ng-container>
      <ng-template #elseBlockMarkerList>
      </ng-template>
    </ng-container>
    <!-- [END] Step 2 : Marker Selection -->

    <!-- [START] Step 3 : Choose Route Plan -->
    <ng-container *ngSwitchCase="2">
      <p-table [scrollable]="true" scrollHeight="205px" [value]="orderedMarkerList" [reorderableColumns]="true" styleClass="p-datatable-gridlines p-mt-2">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:3rem; border-right: 0;"></th>
            <th style="border-right: 0; border-left: 0; text-align: center;">Route Plan</th>
            <th style="width:3rem; border-left: 0;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-index="rowIndex">
          <tr [pReorderableRow]="index">
            <td style="width:3rem;">
              <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
            </td>
            <td>
              <div class="cssDisplayFlex">
                <div style="width: 20px;">
                  <img width="18" height="18" [src]="'assets/images/' + orderedMarkerList[index].enumMarker.imgName">
                </div>
                <div class="p-ml-2" style="width: 100%;">
                  {{rowData['name']}}
                </div>
              </div>
            </td>
            <td style="text-align:center; padding: 0.5rem 0.5rem; width:3rem;">
              <button (click)="mapUtil.goAnywhereOnMapWithMarker(this.map, orderedMarkerList[index])" [style]="{width: '24px', height: '24px'}" pButton pRipple type="button" icon="pi pi-angle-double-right" class="cssTableButtonPlan p-button-rounded p-button-text"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="reorderInfo p-pl-1 p-pt-1">
        <span>Use</span>
        <span class="pi pi-bars p-ml-1"></span>
        <span class="p-ml-1">for reorder</span>
      </div>
    </ng-container>
    <!-- [END] Step 3 : Choose Route Plan -->
    <ng-container *ngSwitchDefault>

    </ng-container>
  </ng-container>

  <div class="p-col p-p-0 p-mt-4 p-grid p-nogutter p-justify-between ng-star-inserted">
    <button pButton [disabled]="stepIndex === 0" (click)="onClickBackStep()" label="Back" icon="pi pi-angle-left" class="p-button-sm"></button>
    <button pButton [disabled]="disableButtonNextStep()" *ngIf="stepIndex !== steps.length - 1; else elseBlockStepButton" (click)="onClickNextStep()" label="Next" icon="pi pi-angle-right" class="p-button-sm" iconPos="right"></button>
    <ng-template #elseBlockStepButton>
      <button pButton (click)="onClickCompleteStep()" label="Complete" icon="pi pi-angle-right" class="p-button-sm p-button-success" iconPos="right"></button>
    </ng-template>
  </div>
</div>
<ng-template #elseBlock>
  <app-route-plan [map]="map" [routePlan]="routePlan" [routePlanTemp]="routePlanTemp"></app-route-plan>
</ng-template>


