.end-marker {
  border-radius: 5px;
  border: 1px solid #b6b6b6;
  background-color: #e9ecef;
}

.end-marker-lng {
  width: 90px;
  color: #494c4e;
}

.end-marker-lat {
  width: 90px;
  color: #494c4e;
}

.end-marker-delete-button {
  height: 32px !important;
  width: 32px !important;
}

.end-marker-delete-button .pi {
  font-size: 13px;
}

.end-marker-img {
  width: 80px;
}

.end-point-div {
  color: #d34242;
}

.button-div {
  width: 40px;
}

:host ::ng-deep .p-inputtext {
  height: 28px;
  font-size: 13px;
}
