<div class="main-div">
  <div class="left-div">
    <!-- [START] : Steps -->
    <app-steps [map]="map"></app-steps>
    <!-- [END] : Steps -->
  </div>
  <div class="right-div">
    <!-- [START] : Map -->
    <div id="map"></div>
    <!-- [END] : Map -->
  </div>
  <!-- [START] : Marker Info -->
  <app-marker-info></app-marker-info>
  <!-- [END] : Marker Info -->

  <!-- [START] : Go Anywhere on Map -->
  <app-coordinate-search [map]="map"></app-coordinate-search>
  <!-- [END] : Go Anywhere on Map -->
</div>

<!-- [START] : Toast for Messages -->
<p-toast position="bottom-right" key="generalToast"></p-toast>
<!-- [END] : Toast for Messages -->
