@import "@tomtom-international/web-sdk-maps";

#map {
  height: 100%;
  width: 100%;
}

.left-div {
  width: var(--leftDivWidth);
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid #d1d1d1;
}

.right-div {
  width: calc(100% - var(--leftDivWidth));
  height: 100%;
}

.main-div {
  width: 100%;
  height: 100%;
  display: flex;
}

.blink {
  animation: blink 0.5s;
  animation-iteration-count: 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroller {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #007bffc7;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 123, 255, 0.59);
}

.p-toast-message {
  font-size: 14px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 22px;
}

.popup {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0.8;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  opacity: 0.8;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
