<div class="cssDisplayFlex p-mt-3 p-ml-3">
  <p-inputSwitch (onChange)="onChangeVisibilityDirections()" [(ngModel)]="visibilityDirections"></p-inputSwitch>
  <label class="p-ml-2" style="margin-top: 4px; font-size: 14px; font-weight: 500;">Show Directions of Route</label>
</div>
<ng-container *ngFor="let route of routePlan.listRoute">
  <app-route [map]="map" [route]="route" [routePlanTemp]="routePlanTemp"></app-route>
</ng-container>
<div class="p-mt-3" style="text-align: center;">
  <div class="cssDistanceDiv p-mt-2 p-inline-message p-component p-inline-message-info">
    <span class="cssDistance p-inline-message-text">{{'Total : ' + routePlan?.distanceKm?.toFixed(2) + ' KM'}}</span>
  </div>
</div>
<div class="p-mt-3" style="text-align: center;">
  <button pButton label="New Route" icon="pi pi-plus" class="p-button-sm p-button-info"></button>
</div>
