<div *ngIf="startMarkerEntity" class="p-col p-p-0 p-mt-3 start-marker">
  <div class="display-flex">
    <div class="start-marker-img p-p-4">
      <img class="cursor-pointer" (click)="goStartPoint()" pTooltip="Go" tooltipPosition="top" src="{{'assets/images/' + startMarkerEntity.enumMarker.imgName}}">
    </div>
    <div class="p-col p-p-1">
      <div class="text-align-center p-pt-1 cssFontWeight600 cssFontSize14Px start-point-div">Start Point</div>
      <div class="display-flex p-mt-1">
        <div class="cssFontSize14Px cssFontWeight600 start-marker-lng">Longitude : </div>
        <div class="cssFontSize13Px">{{startMarkerEntity.marker.getLngLat().lng}}</div>
      </div>
      <div class="display-flex">
        <div class="cssFontSize14Px cssFontWeight600 start-marker-lat">Latitude : </div>
        <div class="cssFontSize13Px">{{startMarkerEntity.marker.getLngLat().lat}}</div>
      </div>
    </div>
    <div class="button-div">
      <button (click)="deleteStartPoint()" pTooltip="Delete" tooltipPosition="top" pButton pRipple type="button" icon="pi pi-times" class="start-marker-delete-button cssFloatRight p-button-rounded p-button-danger p-button-text"></button>
    </div>
  </div>
</div>
