body {
  height: 100vh;
  margin: 0 !important;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

:root {
  --leftDivWidth: 400px;
}

.display-flex {
  display: flex;
}

.wdith-100-percent {
  width: 100%;
}

.cssFontSize12Px {
  font-size: 12px;
}

.cssFontSize13Px {
  font-size: 13px;
}

.cssFontSize14Px {
  font-size: 14px;
}

.cssFontSize15Px {
  font-size: 15px;
}

.cssFontWeight700 {
  font-weight: 700;
}

.cssFontWeight600 {
  font-weight: 600;
}

.cssFontWeight500 {
  font-weight: 500;
}

.cssFontWeight400 {
  font-weight: 400;
}

.text-align-center {
  text-align: center !important;
}

.cssDisplayGrid {
  display: grid;
}

.cursor-pointer {
  cursor: pointer;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}
