.cssStartMarkerLabel {
  float: right;
  margin-top: 46px;
  color: #565a5e;
  font-weight: 500;
  font-size: 13px;
}

.cssEndMarkerDiv {
  width: 80px;
  height: 84px;
  padding-top: 12px;
  color: #565a5e;
  font-weight: 500;
  font-size: 13px;
}

.cssStartMarkerDiv {
  width: 80px;
  height: 84px;
}

.cssDistance {
  font-weight: 500;
  font-size: 12px;
}

.cssDistanceDiv {
  background-color: #d9d9d9;
  color: #2e2e2e;
  height: 26px;
}

.cssRouteText {
  font-weight: 500;
  font-size: 13px;
}

.cssRouteInfo {
  width: 120px !important;
  text-align: center;
  margin-top: 7px;
}

.cssRoute {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.cssRoute:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.cssMain {
  padding: 20px 20px 0 20px;;
}

.cssSelected {
  background-color: #e3ffdc;
}
