.start-marker-label {
  float: right;
  margin-top: 46px;
  color: #565a5e;
  font-weight: 500;
  font-size: 13px;
}

.end-marker-div {
  width: 80px;
  height: 84px;
  padding-top: 12px;
  color: #565a5e;
  font-weight: 500;
  font-size: 13px;
}

.start-marker-div {
  width: 80px;
  height: 84px;
}

.distance {
  font-weight: 500;
  font-size: 12px;
}

.distance-div {
  background-color: #d9d9d9;
  color: #2e2e2e;
  height: 26px;
}

.route-text {
  font-weight: 500;
  font-size: 13px;
}

.route-info {
  width: 120px !important;
  text-align: center;
  margin-top: 7px;
}

.route {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.route:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.main {
  padding: 20px 20px 0 20px;;
}

.selected {
  background-color: #e3ffdc;
}
