<div class="main">
  <div (click)="onClickRoute(route!)" [class]="'p-pt-1 display-flex route' + (route!.selected ? ' selected' : '')">
    <div class="route-info">
      <div class="p-inline-message p-component p-inline-message-info">
        <span class="p-inline-message-icon pi pi-map-marker"></span>
        <span class="route-text p-inline-message-text">{{route!.name}}</span>
      </div>
      <div class="distance-div p-mt-2 p-inline-message p-component p-inline-message-info">
        <span class="distance p-inline-message-text">{{route!.distanceKm.toFixed(2) + ' KM'}}</span>
      </div>
    </div>
    <div class="start-marker-div">
      <label class="start-marker-label">{{route!.startMarker.name}}</label>
    </div>
    <div class="p-col">
      <img src="assets/images/destination.png">
    </div>
    <div class="end-marker-div">
      <label>{{route!.endMarker.name}}</label>
    </div>
  </div>
</div>
